/* App.css */

/* Thêm kiểu cho thanh điều hướng */
nav {
    background-color: #333; /* Đặt màu nền */
    padding: 10px; /* Thêm độ nở để dễ nhìn hơn */
}

ul {
    list-style-type: none; /* Loại bỏ kiểu danh sách mặc định */
    margin: 0;
    padding: 0;
    display: flex;
}

a:hover {
    color: #ece910;
}

li {
    margin-right: 20px; /* Thêm khoảng cách giữa các mục điều hướng */
}

a {
    text-decoration: none; /* Loại bỏ gạch chân từ liên kết */
    color: white; /* Đặt màu chữ */
    font-weight: bold; /* Làm cho chữ đậm */
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 70px auto;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup img {
    width: 100%;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06d85f;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 10px;
    justify-content: space-between;
}

.container .column {
    flex-basis: calc(
        33.3333% - 20px
    ); /* 33.3333% - 20px khoảng cách giữa các cột */
    margin-bottom: 20px;
}

.container .card {
    width: 100%;
    text-align: center;
}

.container .card img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.container .card h3 {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.container .card .title {
    margin-top: 5px;
    color: #333;
    font-size: 15px;
    font-weight: 500;
}

.card a {
    color: #333;
}

.footer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #333;
}
